{% extends "base.html" %}

{% block bodyclass %}{% endblock %}

{% block head %}
	<link rel="stylesheet" href="{{ settings.MEDIA_URL }}css/electric.css" type="text/css" media="screen, projection">
{% endblock %}

{% block left_sidebar %}
	<ul>
		<li><a href="/electric/bar/day/">day</a></li>
		<li><a href="/electric/bar/week/">week</a></li>
		<li><a href="/electric/bar/month/">month</a></li>
		<li><a href="/electric/livedata/">live data</a></li>
		<li><a href="/electric/bills/">bills</a></li>
	</ul>
{% endblock %}


{% block content %}{% endblock %}
