{% extends "base_electric.html" %}
{% load custom %}

{% block content %}
	<h1>Electricity Bills</h1>
	
	<div id="bills" style="">
		<h2>Summary</h2>
		<div id="bills_message_container">
		
			<table>
				<tr>
					<td>Service From</td>
					<td>Service Through</td>
					<td>Previous Reading</td>
					<td>Current Reading</td>
					<td>Total Consumption</td>
					<td>Service Charge</td>
					<td>Cost per kWh</td>
					<td>Days in Period</td>
					<td>Avg kWh per day</td>
					<td>Avg kWh cost this period</td>
				</tr>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td>kWh</td>
					<td>$</td>
					<td>$/kWh</td>
					<td>days</td>
					<td>kWh/day</td>
					<td>$/day</td>
				</tr>
				
				{% for item in bills %}
					<tr>
						<td>{{ item.DATE_START|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ item.DATE_END|date:"SHORT_DATE_FORMAT" }}</td>
						<td>{{ item.POWER_START|floatformat:0 }}</td>
						<td>{{ item.POWER_END|floatformat:0 }}</td>
						<td>{{ item.CONSUMPTION|floatformat:0 }}</td>
						<td>{{ item.COST }}</td>
						<td>{{ item.COSTWATT|floatformat:4 }}</td>
						<td>{{ item.DAYS }}</td>
						<td>{{ item.WATTDAY|floatformat:4 }}</td>
						<td>{{ item.COSTDAY|floatformat:2 }}</td>
					</tr>
				{% endfor %}
			</table>		
		</div>
	</div>
	<div id="Comparison" style="">
		<h2>Comparison with TED</h2>
	</div>

	<div>
		<h2>things to do:</h2>
		<ul>
			<li>first item</li>
		</ul>
	</div>
				
{% endblock %}

