{% extends "base_electric.html" %}

{% block head %}
	<link rel="stylesheet" href="{{ settings.STATIC_URL }}css/electric.css" type="text/css" media="screen, projection">
	<script type="text/javascript" src="{{ settings.STATIC_URL }}js/livedata2.js"></script>
	<script type="text/javascript" src="{{ settings.STATIC_URL }}js/jquery.sparkline.js"></script>
{% endblock %}

{% block content %}
	<h1>Live Data</h1>
	<div id="ex1">
		<table>
			<tr>
				<td>Electricity</td>
				<td></td>
				<td><span id="FirstTimeBox"></span></td>
				<td><span id="TimeFrame"></span></td>
				<td><span id="currTimeBox"></span></td>
				<td>low</td>
				<td>high</td>
			</tr>
			<tr>
				<td>Real Power</td>
				<td><b>kW</b></td>
				<td><span id="kwFirst">0.0</span></td>
				<td><div style="width:360px" id="kwSparkline"></div></td>
				<td><span id="kwBox">0.0</span></td>
				<td><span id="kwMin">0.0</span></td>
				<td><span id="kwMax">0.0</span></td>
			</tr>
			
		
			<tr>
				<td>Voltage</td>
				<td><b>V</b></td>
				<td><span id="voltFirst">0.0</span></td>
				<td><div  id="vSparkline"></div></td>
				<td><span id="voltBox">0.0</span></td>
				<td><span id="voltMin">0.0</span></td>
				<td><span id="voltMax">0.0</span></td>
			</tr>
			<tr>
				<td>Apparent Power</td>
				<td><b>kVA</b></td>
				<td><span id="kvaFirst">0.0</span></td>
				<td><div id="kvaSparkline"></div></td>
				<td><span id="kvaBox">0.0</span></td>
				<td><span id="kvaMin">0.0</span></td>
				<td><span id="kvaMax">0.0</span></td>
			</tr>
			<tr>
				<td>Power Factor</td>
				<td></td>
				<td><span id="pfFirst">0.0</span></td>
				<td><span id="pfSparkline"></div></td>
				<td><span id="pfBox">0.0</span></td>
				<td><span id="pfMin">0.0</span></td>
				<td><span id="pfMax">0.0</span></td>
			</tr>
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
			
			
{% endblock %}

