{% extends "base.html" %}

{% block bodyclass %}{% endblock %}

{% block left_sidebar %}
	<div id="navbar_left" class="span-6 last">
		<ul>
			<li><a href="/electric/bar/day/">day</a></li>
			<li><a href="/electric/bar/week/">week</a></li>
			<li><a href="/electric/bar/month/">month</a></li>
			<li><a href="/electric/livedata/">live data</a></li>
			<li><a href="/electric/bills/">bills</a></li>
		</ul>
	</div>
{% endblock %}

{% block left_content %}
{% endblock %}


{% block content %}{% endblock %}
